@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;1,200&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html {
	width: 100%;
	height: 100%;

}

body {
	background: #fff url(../img/pr_6.jpg) center center no-repeat;
	background-size: cover;
	 position: relative;
  margin: 0;
  color: #fff;
  /* Растягиваем body по высоте html */
  min-height: 100%;
}

/* Кнопка 1   */
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-1 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn-1:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.btn-1:before,
.btn-1:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-1:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-1:hover:before,
.btn-1:hover:after{
  width:100%;
  transition:800ms ease all;
}
/*Кнопка 2*/
.btn-flip {
	opacity: 1;
	outline: 0;
	color: #fff;
	line-height: 40px;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	font-family: "Open Sans";
	text-transform: uppercase;
}

.btn-flip:hover:after {
	opacity: 1;
	transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before {
	opacity: 0;
	transform: translateY(50%) rotateX(90deg);
}

.btn-flip:after {
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	color: #323237;
	display: block;
	transition: 0.5s;
	position: absolute;
	background: #adadaf;
	content: attr(data-back);
	transform: translateY(-50%) rotateX(90deg);
}

.btn-flip:before {
	top: 0;
	left: 0;
	opacity: 1;
	color: #adadaf;
	display: block;
	padding: 0 30px;
	line-height: 40px;
	transition: 0.5s;
	position: relative;
	background: #323237;
	content: attr(data-front);
	transform: translateY(0) rotateX(0);
}
/*Кнопка 3*/
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-14 {
  background: rgb(255,151,0);
  border: none;
  z-index: 1;
}
.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-14:hover {
  color: #000;
}
.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-14:active {
  top: 2px;
}
/*Кнопка 4*/
.button {
  width: 150px;
  height: 50px;
  margin: 5px;
  font-family: 'Krona One', sans-serif;
  font-size: 16px;
  color: rgba(255,255,255,0.9);
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 300ms;
}
.yellow {
    background: #f0e54a;
    box-shadow: 0px 5px #aba232, 0px 10px 10px rgba(0,0,0,0.25);
}
.button:hover {
  transform: translateY(5px);
    box-shadow: 0px 0px transparent, 0px 5px 10px rgba(0,0,0,0.25);
}

.button:focus {
  outline: none;
}



/*ПОЗИЦИОНИРОВАНИЕ И КНОПОК*/
.container_1{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 10rem;
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
    color: white;

}














/*Строка 2 картинка 1*/
.container_2{
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
	height: 350px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.view{
	
    
	margin: 10px;
	float: left;
	border: 2px solid silver;
	overflow: hidden;
	position: relative;
	text-align: center;
	box-shadow: 1px 1px;
	
}
@media (min-height: 1500px) 
{
    .view{
        max-height: 22rem;
        max-width: 86%;
    }
    
}
@media (max-height: 1500px) 
{
    .view{
        max-height: 70%;
        max-width: 85%;
    }
    
}
 
    

.mask{
	color: silver;
	width: 500px;
	height: 123px;
	position: absolute;
	overflow: hidden;
	top: 0%;
	left: 0;
	width: 100%;
    height: 100%;
	line-height: 1.5rem;
}
.view h1{
	text-transform: uppercase;
	text-align: center;
	position: relative;
	font-size: 17px;
	padding: 10px;
	margin: 20px 0 0 0;
}
.view p {
	font-size: 20px;
	position: relative;
	color: silver;
	padding: 0 20px 0;
	text-align: center;
}
.view a.info{
	margin-top: 2rem;
	display: block;
	text-decoration: none;
	padding: 7px 10px;
	background: black;
	color: silver;
	font-size: 10px;
	text-transform: uppercase;
	box-shadow: 0 0 1px;
	
}
.view a.info:hover{
	box-shadow: 0 0 5px black;
	
}
.view-first img{
	transition: all 0.2s linear;
	width: 800px;height: 500px
}



.view-first .mask{
	opacity: 0;
	transition: all 0.4s ease-in-out;
}
.view-first h1{
	transform: translateY(-100px);
	opacity: 0;
	transition: all 0.2s ease-in-out;
}
.view-first p{
	transform: translateY(100px);
	opacity: 0;
	transition: all 0.2s linear;
	
}
.view-first a.info{
	opacity: 0;
	transition: all 0.2s ease-in-out;
	
}
.view-first:hover img{
	transform: scale(1.1);
}
.view-first:hover .mask{
	opacity: 1;
}
.view-first:hover h1,
.view-first:hover p,
.view-first:hover a.info{
	opacity: 1;
	transform: translateY(0);
}
.view-first:hover p{
	transition-delay: 0.1s;
}
.view-first:hover a.info{
	transition-delay: 0.2s;
}













/*МЕНЮ*/
.arg{
	text-decoration: none;
}
.arg:hover{
	box-sizing: padding-box;
	background-color: blue;
	border-radius: 10px;
	color: white;
	transform: scale(1.5);
	padding: 2px;
	transition: 0.2s;
	
}
.menu{
	position:fixed;
	left: 2%;
	display: inline-block;
	z-index: 25;
	width: 10rem;
	height: 15rem;
	background-color: white;
	border-radius: 10px;
	font-family: 'Lato', sans-serif;
    opacity: 0;
	top: 0%;
}
.bottom{
	text-align: center;
	display: flex;
	flex-direction: column;
}
.top img{
	width: 20px;
	height: 20px;
}
.top{
	background-color: blueviolet;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.bottom{
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	line-height: 2.5rem;
}


.menu_before img{
	width: 40px;
	height: 40px;
}
.menu_before{
	position:relative;
	display: inline-block;
	top: 10px;
}
/*ВАЖНО*/
img:hover + .menu{
	opacity: 1;
	transition: 0.2s;
}
.menu:hover{
	opacity: 1;
	transition: 0.8s;
}
/*ВАЖНО*/
.top img + .menu{
	display: none;
}
.top img.pict:hover + .menu{
	display: none;
}
.pict_2{
    position: fixed;
    left: 2%;
    width: 20px;
	height: 20px;
    z-index: 26;
}




















@media (max-height: 800px) {
	html{
		height: 200%;
	}
}

@media (max-width: 1200px) {
    .container_3 iframe{
        width: 100%;
        text-align: center;
    }
    .mark{
    position: absolute;
    background-color: black;
    height: 15rem;
    width: 25rem;
    color: silver;
    line-height: 2.4rem;
    font-size: 1.8rem;
    width: 100%;
    left: 3%;
}

}


@media (min-width: 1200px) {
.container_3 iframe{
    width: 50%;
    text-align: center;
    }
    .mark{
    position: absolute;
    background-color: black;
    height: 15rem;
    width: 25rem;
    color: silver;
    line-height: 2.4rem;
    font-size: 1.8rem;
    width: 50%;
    left: 3%;
}
}









/*ТРЕТЬЯ ЧАСТЬ ФИНАЛ*/
.container_3{
	position: absolute;
	justify-content: center;
    overflow: hidden;
    width: 100%;
    display: block;
    
}

iframe{
    overflow: hidden;
}

iframe:hover + .mark{
    transform: translate(0,-135%);
    transition: ease 0.5s;
       
}
.mark:hover{
    transform: translate(0,-135%);
    transition: ease 0.3s;
}
.mark h1{
    font-size: 3rem;
    padding: 15px;
}









footer {
  max-width: 100%;
  position: absolute;
  width: 100vw;
/*  height: 3.rem;*/
  display: flex;
  place-items: center;
/*  background-color: #3a3030;*/
  color: #fff;
  text-align: center;
  bottom: 0;
  backdrop-filter: blur(220px);
}










































.social-container {
    widows: 90vw;
}

.social-icons {
  padding: 0;
  list-style: none;
    display: flex;
    justify-content: space-around;
 
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #00b5f5, #002a8f);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #00b5f5;
  background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
    
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}



.registration{
    position: fixed;
    float: right;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    right: 5%;
    z-index: 25;
    font-family: 'Nunito', sans-serif;
}































